# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai`
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Assignment 2/.DS_Store
Assignment 4/Project 4a/main.cpp
.DS_Store
.DS_Store
*.txt
*.log
*.cbp
*.json
*.iml
*.bin
*.check_cache
*.make
*.includecache
*.marks
*.internal
Assignment 5/Project 5b/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
Assignment 5/Project 5b/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
